<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css"/>
</head>
<div id="everything">
    <header class="container">
        <section id="headSection">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 id="pageTitle">Web Crawler</h1>
                </div>
                <div class="row justify-content-center">
                    <p>
                        This site will take the user input for the options below and create and interactive graph with nodes representing each URL visited during the crawl and directed edges indicating which page points to which other page.
                    </p>
                </div>
            </div>
        </section>
    </header>
    <br />
    <br />
    <section class="container" id="section">
        <div  id="searchDiv">
            <form action="/results" method="get" id="searchForm">
				<fieldset id="searchBundle">
                    <legend id="searchLegend">Create New Search:</legend>
					<div class="row justify-content-center">
						<label>
							Starting webpage:
							<input id="page" type="url" name="page" size="30" maxlength="150"
								   title="The URL where you'd like the search to begin" />
						</label>
					</div>
					<div class="row justify-content-center">
						<label>Search type:</label>
						<select name="method" id="method" onchange="crawlDepth()"
								title="Depth first: chooses random link from start page and continues to URL at random link and repeats until number of links to search is met or there are no more links left to search. Breadth first chooses all links on the start page and follows them all to the depth specified in number of links to search, while there are links to search.">
							<option value="DFS">Depth First</option>
							<option value="BFS">Breadth First</option>
						</select>
					</div>
					<div class="row justify-content-center">
						<label>
							Number of links to search:
							<input id="limit" type="number" name="limit" size="4" maxlength="4" min="0" step="1" max="999"
								   title="The link depth (# of pages) to be searched" />
						</label>
					</div>
					<div class="row justify-content-center">
						<label>
							Optional keyword:
							<input id="keyword" type="text" name="keyword" size="10" maxlength="30"
								   title="This word is looked for in the visited pages, if found, the crawl will stop" />
						</label>
					</div>
                    <div class="row justify-content-center">
                        <input name="submitButton" type="submit" value="Start the Crawler" id="searchButton" />
                    </div>
	
                    <script>
                        function crawlDepth() {
                            var linkMax = document.getElementById("method");
                            if (linkMax.options[linkMax.selectedIndex].value == "BFS") {
                                var limit = document.getElementById("limit");
                                limit.setAttribute("max", 2);
                            }
                            else {
                                var limit = document.getElementById("limit");
                                limit.setAttribute("max", 999);
                            }
                        }
                    </script>
                </fieldset>
            </form>
            <form action="/results" method="get" id="repeatForm" class="row justify-content-center">
                <fieldset>
                    <legend>Repeat Search:</legend>
                    <select name="cookies" title="Choose a past search from saved cookies">
                        <option value="">Select One:</option>
                        {{#each cookies}}
							<option value='{"page":"{{this.page}}","method":"{{this.method}}","limit":{{this.limit}},"keyword":"{{this.keyword}}"}'>{{this.page}}, {{this.method}}, {{this.limit}}, "{{this.keyword}}"</</option>
						{{/each}}
                    </select>
                    <input name="submitButton" type="submit" value="Repeat Search" />
                </fieldset>
            </form>
        </div>
    </section>
</div>
<div class="container">
	<p class="row justify-content-center">
		Created by: Adam Brulotte, Tia Seibold, and Michael Sterritt
	</p>
</div>
<div id="loader" class="loader" style="display: none"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="js/loadingImage.js"></script>

